<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="User_Admin_CS" connectionString="Server=tcp:goc-mykitchenvault.database.windows.net,1433;Initial Catalog=MyKitchenVault;Persist Security Info=False;User ID=user_admin;Password=p@ssw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="User_CS" connectionString="Server=tcp:goc-mykitchenvault.database.windows.net,1433;Initial Catalog=MyKitchenVault;Persist Security Info=False;User ID=mkv_user;Password=p@ssw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
        <add name="MyKitchenVault.Properties.Settings.ConnectionString"
            connectionString="Data Source=goc-mykitchenvault.database.windows.net;User ID=goc_admin;Password=PgTeam12022"
            providerName="System.Data.SqlClient" />
        <add name="MyKitchenVault.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>