<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyKitchenVault.Properties.Settings.ConnectionString"
            connectionString="Data Source=goc-mykitchenvault.database.windows.net;User ID=goc_admin;Password=PgTeam12022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>